<!DOCTYPE html>
<html>
<head>
  <title>Sqrl</title>
  <%= stylesheet_link_tag    "sqrl/application", media: "all" %>
  <%= javascript_include_tag "sqrl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
